[submodule "jungo"]
	path = jungo
	url = git@git.vauxoo.com:vauxoo/jungo.git
	branch = 18.0
[submodule "addons-vauxoo"]
	path = addons-vauxoo
	url = git@github.com:Vauxoo/addons-vauxoo.git
	branch = 18.0
[submodule "l10n-mx-edi-autosent-edi-document"]
	path = l10n-mx-edi-autosent-edi-document
	url = git@git.vauxoo.com:mexico/l10n-mx-edi-autosent-edi-document.git
	branch = 18.0
[submodule "sale-self-invoice"]
	path = sale-self-invoice
	url = git@git.vauxoo.com:vauxoo/sale-self-invoice.git
	branch = 18.0
[submodule "stock-logistics-workflow"]
	path = stock-logistics-workflow
	url = git@github.com:Vauxoo/stock-logistics-workflow.git
	branch = 18.0
[submodule "product-variant"]
	path = product-variant
	url = git@github.com:Vauxoo/product-variant.git
	branch = 18.0-jungo

[submodule "OCA/sale-workflow"]
	path = OCA/sale-workflow
	url = git@github.com:OCA/sale-workflow.git
	branch = 18.0
